<!DOCTYPE html>
<html>
    <head>
        <title>Genre Search</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <link rel="stylesheet" href="/css/partials/anime_title_search.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <script type="text/javascript" src="/js/bindings.js" defer></script>
        <script type="text/javascript" src="/js/genre_search.js" defer></script>
        <style>
            * {
                box-sizing: border-box;
            }
            
            body > .uk-container {
                padding: 0;    
            }
            
            .uk-grid {
                margin-left: 0;
            }
            
            .uk-grid > * {
                padding-left: 0;    
            }
            
            .result-wrapper {
                height: 700px;
                overflow: auto;
            }
            
            .anime-item {
                margin-bottom: 12px;
                text-align: center;
            }
            
            .anime-item .anime-poster {
                height: 250px;
            }
            
            .anime-title {
                font-size: 1em;
                font-family: sans-serif;
                margin-top: 12px;
                font-weight: 700;
            }
            
            .anime-genres {
                color: grey;
                padding: 0 4px;
            }
            
            .title-search-wrapper {
                text-align: center;
            }
            
            section.uk-grid {
                padding-top: 20px;
                background-color: #F4F4F4;    
            }
            
            form {
                background-color: #FFF;
            }
            
            aside ul {
                margin: 0;
                padding: 0;
            }
            
            aside li {
                list-style: none;
            }
            
            @media (min-width: 480px) {
                .anime-item {
                    padding: 0 8px;
                }
                
                .title-search-wrapper {
                    text-align: right;
                }
            }
            
            @media (min-width: 768px) {
                section .wrapper {
                    display: inline-block;
                }
                
                aside {
                    width: 30%;
                    display: inline-block;
                    margin-left: -4px;
                    vertical-align: top;
                }
            }
            
        </style>
    </head>
    <body id="body">
        <div class="uk-container uk-container-center">
            <%= @header %>
            <section class="uk-width-1-1">
                <div class="uk-width-medium-4-5 uk-container-center">
                    <%= @title_search_partial %>
                </div>
            </section>
            <section class="uk-grid uk-width-1-1">
                <div class="uk-width-medium-4-5 uk-container-center">
                    <% if @search_results.length > 0 %>
                        <div class="wrapper uk-width-medium-7-10">
                            <div class="result-wrapper uk-grid">
                                <% @search_results.each do |result| %>
                                    <figure class="uk-width-small-1-2 anime-item">
                                        <a href=<%= "/show/ani-#{result['id']}" %>>
                                        <img src=<%= "#{result['image_url_lge']}" %> 
                                             width="300" height="300" class="anime-poster">
                                        <figcaption>
                                            <h2 class="anime-title"><%= result['title_english'] %></h2>
                                            <p class="anime-genres">
                                                <%= result['genres'].join(', ') %>
                                            </p>
                                        </figcaption>
                                        </a>
                                    </figure>
                                <% end %>
                            </div>
                        </div>
                    <% else %>
                        <h2>Sorry, 0 results were found</h2>
                    <% end %>
                    <aside>
                        <%= @genre_search_form_partial %>
                    </aside>
                </div>
            </section>
            <%= @footer %>
        </div>
    </body>
</html>