<!DOCTYPE html>
<html>
    <head>
        <title>Anime Tracker</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
    </head>
    <body>
        <div class="uk-grid">
            <%= @header %>
            <section class="uk-grid uk-width-1-1">
            <% if @search_results.length > 0 %>
                <% @search_results.each do |result| %>
                    <figure class="uk-width-2-10 anime-item">
                        <a href=<%= "/show/#{result['id']}" %>>
                        <img src=<%= "#{result['cover_image']}" %> 
                             width="300" height="300" class="anime-poster">
                        <figcaption>
                            <h2 class="anime-title"><%= result['title'] %></h2>
                            <p class="anime-genres">
                                <%= result['genres'].map {|genre| genre['name']}.
                                    join(', ') %>
                            </p>
                        </figcaption>
                        </a>
                    </figure>
                <% end %>
            <% else %>
                <h2>Sorry, 0 results were found</h2>
            <% end %>
            </section>
            <aside>
                <form method="post" action="/search/anime/genre">
                    <fieldset>
                        <legend>Genre</legend>
                        <label for="cb1"><input type="checkbox" id="cb1" 
                        name="genre[]" value="Action">Action</label><br />
                        <label for="cb2"><input type="checkbox" id="cb2" 
                        name="genre[]" value="Adventure"></label>Adventure<br />
                        <label for="cb3"><input type="checkbox" id="cb3" 
                        name="genre[]" value="Comedy"></label>Comedy<br />
                        <label for="cb4"><input type="checkbox" id="cb4" 
                        name="genre[]" value="Drama">Drama</label><br />
                        <label for="cb5"><input type="checkbox" id="cb5" 
                        name="genre[]" value="Ecchi">Ecchi</label><br />
                        <label for="cb6"><input type="checkbox" id="cb6" 
                        name="genre[]" value="Fantasy">Fantasy</label><br />
                        <label for="cb7"><input type="checkbox" id="cb7" 
                        name="genre[]" value="Horror">Horror</label><br />
                        <label for="cb8"><input type="checkbox" id="cb8" 
                        name="genre[]" value="Mahou Shoujo">Mahou Shoujo</label><br />
                        <label for="cb9"><input type="checkbox" id="cb9" 
                        name="genre[]" value="Mecha">Mecha</label><br />
                        <label for="cb10"><input type="checkbox" id="cb10" 
                        name="genre[]" value="Music">Music</label><br />
                        <label for="cb11"><input type="checkbox" id="cb11" 
                        name="genre[]" value="Mystery">Mystery</label><br />
                        <label for="cb12"><input type="checkbox" id="cb12" 
                        name="genre[]" value="Psychological">Psychological</label><br />
                        <label for="cb13"><input type="checkbox" id="cb13" 
                        name="genre[]" value="Romance">Romance</label><br />
                        <label for="cb14"><input type="checkbox" id="cb14" 
                        name="genre[]" value="Sci-Fi">Sci-Fi</label><br />
                        <label for="cb15"><input type="checkbox" id="cb15" 
                        name="genre[]" value="Slice of Life">Slice of Life</label><br />
                        <label for="cb16"><input type="checkbox" id="cb16" 
                        name="genre[]" value="Sports">Sports</label><br />
                        <label for="cb17"><input type="checkbox" id="cb17" 
                        name="genre[]" value="Supernatural">Supernatural</label><br />
                        <label for="cb18"><input type="checkbox" id="cb18" 
                        name="genre[]" value="Thriller">Thriller</label><br />
                        <input type="submit" value="Submit">
                    </fieldset>
                </form>
            </aside>
            <%= @footer %>
        </div>
    </body>
</html>