<html>
    <head>
        <title><%= "#{@anime['title_english']} - Anime Tracker" %></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <link rel="stylesheet" href="/css/components/notify.css">
        <link rel="stylesheet" href="/css/partials/header.css">
        <link rel="stylesheet" href="/css/partials/anime_title_search.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <script type="text/javascript" src="/js/components/notify.js"></script>
        <script type="text/javascript" src="/js/bindings.js" defer></script>
        <script type="text/javascript" src="/js/show.js" defer></script>
        <style>
            * {
                box-sizing: border-box;
            }
            .title-search-wrapper {
                text-align: right;
            }
            .uk-container {
                max-width: 1200px;
                padding: 0;
            }
            .content-bg {
                background-color: rgba(219,249,245,.5);
                min-height: 960px;
                padding: 64px 0;
            }
            .show-card {
                margin: 0 auto;
                width: 60%;
                max-width: 846px;
                background-color: #FFF;
                padding: 32px;
            }
            @media (orientation: portrait) and (max-width: 480px) {
                .show-card {
                    width: 100%;
                    border: none;
                    padding: 0;
                }    
            }
            @media (orientation: portrait) and (min-width: 481px) {
                .show-card {
                    min-width: 336px;
                }    
            }
            .anime-cover-container img {
                height: 425px;
                width: 100%;
            }
            .anime-info-wrapper {
                padding-left: 4px;
            }
            .anime-title {
                margin: 8px 0;
            }
            .show-details-container {
                margin-top: 8px;
                padding-left: 4px;
            }
            [data-uk-dropdown] {
                position: relative;
            }
        </style>
    </head>
    <body id="body">
       <div class="uk-container uk-container-center">    
            <%= @header %>
            <section class="uk-width-1-1">
                <%= @title_search_partial %>
            </section>
            <section class="uk-width-1-1 content-bg">
                <div class="uk-width-small-4-5 uk-container-center">
                    <div class="grounder show-card">
                        <div class="anime-cover-container">
                            <img src="<%= @anime['image_url_lge'] %>" width="300" height="300">
                        </div>
                        <div class="anime-info-wrapper">
                            <h2 class="anime-title"><%= @anime['title_english'] %></h2>
                            <div class="anime-star-rating">
                                <% if @anime['airing_status'].strip == "not yet aired" %>
                                    <span><i class="uk-icon-star"></i></span>
                                <% else %>
                                    <span><%= "#{((@anime['average_score'] ? @anime['average_score'] : 0 )  / 10).round}" %>
                                    <i class="uk-icon-star"></i></span>
                                <% end %>
                            </div>
                            <div>
                                <span class="anime-type">
                                    <%= @anime['type'] %>
                                </span>
                                <span class="show-status">
                                    <%= @anime['airing_status'] %>
                                </span>
                            </div>
                            <div>
                                <span class="total-episodes">
                                    <%= "#{@anime['total_episodes']} episodes" %>
                                </span>
                                <span class="show-duration">
                                    <%= "#{@anime['duration']} minutes" %>
                                </span>
                            </div>
                            <% if @authorized && !@show_is_in_library %>
                                <div>
                                    <div data-uk-dropdown="{mode: 'click'}">
                                        <button id="addShow" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i>Add to Library</button>
                                        <div class="uk-dropdown">
                                            <ul class="status-list">
                                                <li><span class="currently_watching">Currently watching</a></li>
                                                <li><span class="plan_to_watch">Plan to watch</a></li>
                                                <li><span class="completed">Completed</a></li>
                                                <li><span class="on_hold">On hold</a></li>
                                                <li><span class="dropped">Dropped</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button id="removeShow" class="uk-button uk-button-danger uk-hidden"><i class="uk-icon-remove"></i>Remove from Library</button>
                                </div>
                            <% elsif @authorized && @show_is_in_library %>
                                <div>
                                    <div class="uk-hidden" data-uk-dropdown="{mode: 'click'}">
                                        <button id="addShow" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i>Add to Library</button>
                                        <div class="uk-dropdown">
                                            <ul class="status-list">
                                                <li><span class="currently_watching">Currently watching</a></li>
                                                <li><span class="plan_to_watch">Plan to watch</a></li>
                                                <li><span class="completed">Completed</a></li>
                                                <li><span class="on_hold">On hold</a></li>
                                                <li><span class="dropped">Dropped</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button id="removeShow" class="uk-button uk-button-danger"><i class="uk-icon-remove"></i>Remove from Library</button>  
                                </div>
                            <% end %>
                        </div>
                        <div class="show-details-container">
                           <p class="show-summary"><%= @anime['description'] %></p>
                           <p class="show-genres"><%= "Genres: " + @anime['genres'].join(", ") %></p>
                        </div>
                    </div>
                </div>
            </section>
            <%= @footer %>
       </div>
    </body>
</html>